.App {
  text-align: center;
}

#container {
  padding: 10px;
}

#infoForm, #educationForm, #workForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 500px;
}

button {
  margin-bottom: 10px;
}

#finalcv {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 900px;
  border: 2px solid black;
}

#cvinfo {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding: 10px;
}

#cvinfo, .title {
  background-color: black;
  color: white;
}

#cvedu {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: white;
  padding: 10px;
}

#cvwork {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: white;
  padding: 10px;
}

.title, .block {
  border: 1px solid black;
  padding: 10px;
}

#cvinfo .title, #cvinfo .block {
  border: 1px solid white;
}

.block {
  margin-top: 10px;
}